<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>0.0.1d1</string>
    <key>CSResourcesFileMapped</key>
    <true/>
    <key>CFBundleExecutable</key>
    <string>libAksIfdh.so</string>
    <key>ifdCapabilities</key>
    <string>0x00000000</string>
    <key>ifdMaxSpeed</key>
    <string>115200</string>
    <key>ifdProductString</key>
    <string>AKS Ifdh</string>
    <key>ifdProtocolSupport</key>
    <string>0x00000001</string>
    <key>ManufacturerString</key>
    <string>SafeNet, Inc.</string>
    <key>ifdManufacturerString</key>
    <string>SafeNet, Inc.</string>
    <key>ManufacturerURL</key>
    <string>http://www.safenet-inc.com/</string>
    <key>ifdVendorID</key>
    <array>
      <string>0x0529</string>
    </array>
    <key>ifdProductID</key>
    <array>
      <string>0x0600</string>
    </array>
    <key>ifdFriendlyName</key>
    <array>
      <string>AKS ifdh</string>
    </array>
  </dict>
</plist>
